.pytest_cache
.ruff_cache
.scannerwork
.venv
.vscode
build
docs
extras
carrier.egg-info
htmlcov
log
site
src/carrier/**/__pycache__
src/carrier/config/resources/tls/key.pem
tests
.coverage
.editorconfig
.gitignore
.markdownlint.yml
dependency-check-report.html
Dockerfile
Dockerfile.alpine
mkdocs.yml
openapi.json
carrier-*.xlsx
report.html
sonar-*
